<table class="table">
	<thead>
		<tr>
			<th>Name of Beer</th>
			<th>Brewery</th>
			<th>Acl %</th>
			<th>Bar it can be found</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>