<!DOCTYPE html>
<html>
<head>
  <title>Beer, Bar and Home</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<duv class="container">
		<div id="header", class="hero-unit">
			<h1>Log A Beer</h1>
		</div>
	</div>
<%= yield %>

</body>
</html>
